{
    (0, 0): Lava,
    (8, 6): Leaf, 
    (9, 6): Dirt, 
    (9, 8): Leaf, 
    (10, 6): Stone, 
    (10, 8): Stone,
    (10, 9): Stone,
    (11, 6): Orchid,
    (11, 8): Orchid,
    (12, 6): Lava,
    (13, 6): Puddle,
    (13, 8): Puddle,
    (14, 6): Wall,
    (14, 8): Wall,
    (3, 6): Item('a'),
    (3, 7): Item('a'),
    (3, 14): Item('b'),
    (3, 15): Item('b'),
    (2, 4): Banner("Enjoy the garden"),
    (2, 8): Banner("It is quite nice"),
}
