{
    (0, 0): Cinderblock,
    (2, 4): Sign("Hello, wanderer!"),
    (3, 5): Object('x'),
    (3, 6): Object('x'),
    (3, 7): Object('x'),
    (3, 14): Object('y'),
    (3, 15): Object('y'),
    (3, 16): Object('y'),
    (8, 6): Grass, 
    (9, 6): Sand, 
    (10, 6): Rock, 
    (11, 6): Flowerbush,
    (12, 6): Cinderblock,
    (15, 6): Water, 
    (16, 6): Water, 
    (17, 6): Water, 
    (33, 6): Water, 
    (40, 6): Barrier, 
    (41, 6): Barrier, 
    (42, 6): Barrier, 
    (43, 6): Barrier, 
    (44, 6): Barrier, 
    (53, 6): Barrier, 
}
